/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/open-sans-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("fonts/open-sans-v18-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/open-sans-v18-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/open-sans-v18-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("fonts/open-sans-v18-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/roboto-v20-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/roboto-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/roboto-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/roboto-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/roboto-v20-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #666;
}


.survival_block{
    width: 1440px;
    margin: 0 auto;
    background-image: url(img/Rectangle.png);
    height: 780px;
    
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}


.header__header{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
}

.header__logo-link {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 220px;
    height: 100%;
}

.header__icon {
    position: relative;
    top: -18px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    text-decoration: none;
}

.header__link {
    color: inherit;
    text-decoration: inherit;
    margin-right: 25px;
}


#header__button {
    color: inherit;
    text-decoration: inherit;
    width: 120px;
    height: 50px;
    padding: 8px 23px;
    border: 2px solid #CD6326;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
}

#header__button:hover {
    background: #CD6326;
}

#header__button:focus  {
    background: #8F5613;
}

.survival__content {
    margin-top: 95px;
    max-width: 274px;
}

.survival__content-header {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}

.survival__content-description {
    margin-top: 51px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;
}

.survival__content-button {
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    width: 160px;
    height: 60px;
    background: #CD6326;
    border: none;
    border-radius: 5px;
}

.survival__content-button:hover {
    background: #E39128;
}

.survival__content-button:focus  {
    background: #8F5613;
}

.articles {
    width: 1440px;
    height: 1368px;
    margin: 0 auto;
    position: relative;
    background: #CCCCCC;
}

.wrapper_slider {
    max-width: 1200px;
    margin: 0 auto;
}

.slider_header {
    padding-top: 120px;
    width: 332px;
    margin: 0 auto;
    text-align: center;
}
.slider_header h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
    margin: 0;
}

.slider_header p {
    margin: 20px 0 0 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #666666;
}

.slider{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 120px;
}

.slider_img{
    width: 300px;
    height: 360px;
    margin: 0 auto;
}

.slider_img1 {
    background-image: url(img/Deer.jpg);
    margin: 0px 60px;
}
.slider_img2{
    background-image: url(img/Squirrel.jpg);
}
.slider_img3{
    background-image: url(img/Bird.jpg);
    margin: 0px 60px;
}

.slider_img h4 {
    position: relative;
    top: 248px;
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    line-height: 36px;
    color: #F7F7F7;
}

.slider_img p {
    margin: 0;
    position: relative;
    top: 256px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}

.arrow{
    width: 30px;
    height: 70px;
    margin: auto 0;
}

.mail_form {
    width: 600px;
    margin: 0 auto;
    padding-top: 215px;
}

.mail_form h3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.mail_box {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    position: relative;
    left: -30px;
    
}
.mail_box input{
    position: relative;
    top: 3px;
    width: 540px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
}


#mail_box__button {
    width: 120px; 
    height: 60px;
    color: #F7F7F7;
}

.footer {
    width: 1440px;
    height: 360px;
    margin: 0 auto;
    position: relative;
    background-image: url(img/footer_img.jpg);

}

.footer__logo {
    position: relative;
    left: -35px;
}

.footer__list{
    
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    text-decoration: none;
    position: relative;
    left: 65px;
}

.footer__item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    position: relative;
}

.footer__item2{
    position: relative;
    left: 20px;
}

.footer__item3{
    position: relative;
    left: 45px;
}

.footer__menu{
    width: 1200px;
    padding-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: -85px;
}

.socials{
    width: 280px;
    position: absolute;
    left: 1140px;
    top: 155px;
}

.socials__link{
    padding-left: 24px;
}

.socials__link:first-child{
    padding-right: 0px;
}

